
body {
  max-width: 1920px;
}

.leftnav-border-color {
  border-color: #052c65;
}

.menu-font-color {
  color: #052c65;
}

.login-page-width {
  width: 400px;
}

.text-group-color {
  color: #290661;
}

.group-block-height {
  min-height: 120px;
}

.navbar-menu-left-gap {
  padding-left: 18px;
}

.navbar-button-width {
  width:100px
}